.container {
  padding: 40px 20px;
}

.title {
  padding-left: 80px;
  padding-bottom: 54px;
  font-size: 28px;
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 80px 20px;
  }

  .title {
    padding-left: 80px;
    padding-bottom: 54px;
    font-size: 80px;
  }
}
