.container {
  padding: 0 20px 80px;
  display: grid;
  grid-template-columns: 1fr 690px; /* левая часть + ширина формы */
}

.header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 690px;
  align-items: end;
}

.title {
  grid-column: 1 / 2;
  padding-left: 80px;
  padding-bottom: 54px;
}

.contact {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 690px;
  gap: 45px;
}

.left_part {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding-left: 60px;
}

.images img {
  max-width: 212px;
}

.text_wrap {
  border-radius: 10px;
  background-color: var(--gray);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  max-height: 490px;
}

.text_title {
  color: var(--white);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.22156;
  letter-spacing: 0.04em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list_item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.64;
  letter-spacing: 0.01em;
  color: var(--white);
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
}

.add_data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add_data_item {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.21101;
  letter-spacing: 0.04em;
  font-family: 'Inter', sans-serif;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.add_data_item:last-child {
  padding-top: 9px;
}

.right_part {
  display: flex;
  justify-content: center;
}

.form_title {
  grid-column: 2 / 3;
  text-align: center;
  margin-bottom: 60px;

  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.21979;
  letter-spacing: 0.04em;
}
