@media screen and (max-width: 767px) {
  .container {
    padding: 40px 20px;
    margin-top: 80px;
  }

  .title {
    padding-left: 40px;
    padding-bottom: 70px;
    font-size: 28px;
  }

  .content_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .workflow_img {
    display: block;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .workflow_img.loaded {
    opacity: 1;
  }

  .text_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .text_container {
    background-color: var(--gray);
    border-radius: 10px;
    padding: 40px 30px;
    text-align: center;
  }

  .text_container p {
    font-family: 'Inter', sans-serif;
    color: var(--white);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.64;
    letter-spacing: 0.01em;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 40px 20px;
    margin-top: 80px;
  }

  .title {
    padding-left: 80px;
    padding-bottom: 70px;
    font-size: 28px;
  }

  .content_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .workflow_img {
    display: block;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .workflow_img.loaded {
    opacity: 1;
  }

  .text_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .text_container {
    background-color: var(--gray);
    border-radius: 10px;
    padding: 40px 30px;
    text-align: center;
  }

  .text_container p {
    font-family: 'Inter', sans-serif;
    color: var(--white);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.64;
    letter-spacing: 0.01em;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 80px 20px;
  }

  .title {
    padding-left: 80px;
    padding-bottom: 70px;
    font-size: 80px;
  }

  .content_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .workflow_img {
    object-fit: cover;
    max-width: 680px;
    max-height: 594px;
  }

  .text_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .text_container {
    background-color: var(--gray);
    border-radius: 10px;
    padding: 40px 30px;
    text-align: unset;
  }

  .text_container p {
    font-family: 'Inter', sans-serif;
    color: var(--white);
    font-weight: 400;
    font-size: 28px;
    line-height: 1.64;
    letter-spacing: 0.01em;
  }
}
